@font-face {
    font-family: 'Proxima';

    src: url('https://nomail.com.ua/files/eot/a32050a8cd4afc3f7406bc824e209cc8.eot?#iefix') format('embedded-opentype'),
        url('https://nomail.com.ua/files/woff/a32050a8cd4afc3f7406bc824e209cc8.woff') format('woff'),
        url('https://nomail.com.ua/files/woff2/a32050a8cd4afc3f7406bc824e209cc8.woff2') format('woff2');

    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Proxima';

    src: url('https://nomail.com.ua/files/eot/1ffd09148efd28d28d2aaac4e451fd1a.eot?#iefix') format('embedded-opentype'),
        url('https://nomail.com.ua/files/woff/1ffd09148efd28d28d2aaac4e451fd1a.woff') format('woff'),
        url('https://nomail.com.ua/files/woff2/1ffd09148efd28d28d2aaac4e451fd1a.woff2') format('woff2');

    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Proxima';

    src: url('https://nomail.com.ua/files/eot/e83bfa80b23aa88b149def5b37a5bf9b.eot?#iefix') format('embedded-opentype'),
        url('https://nomail.com.ua/files/woff/e83bfa80b23aa88b149def5b37a5bf9b.woff') format('woff'),
        url('https://nomail.com.ua/files/woff2/e83bfa80b23aa88b149def5b37a5bf9b.woff2') format('woff2');

    font-style: normal;
    font-weight: 600;
}








*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

::-webkit-scrollbar {
    /* width: 4px; */
    width: 0px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background: #f78888;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #495057;
    display: inline-block;
}

button,
input {
    border: none;
}

body {
    color: #495057;
    background: #f8f9fa;
    font-family: 'Proxima';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}








.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
}

.container {
    max-width: 1200px;
    padding: 0 25px;
    margin: 0 auto;
}

.animated {
    animation-duration: .6s;
}

.flex-wrap {
    display: flex;
}

.invert {
    filter: invert(100%);
}

.rotate {
    transform: rotate(180deg);
}

.animate {
    transition: .3s;
}

.animate:hover {
    opacity: .7;
}

.allPages {
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5d5c61;
}

.allPages-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}


.allPages-title {
    font-size: 40px;
    margin-bottom: 45px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    color: #8ee4af;
}

.allPages-title:after {
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 65px;
    height: 7.5px;
    background: #8ee4af;
}

.allPages li {
    margin-bottom: 15px;
    display: block;
    text-align: center;
}

.allPages li:before {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #8ee4af;
    margin-right: 10px;
    margin-bottom: 4px;
}

.allPages li a {
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    color: white;
    transition: .3s;
}

.allPages li a:hover {
    color: #8ee4af;
}

.btn {
    border-radius: 5px;
    background-color: #e2ad22;
    padding: 15px;
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    cursor: pointer;
    transition: .3s;
    max-width: 100%;
    width: 100%;
}

.btn:hover {
    box-shadow: 0 7px 14px rgba(0, 0, 0, .3);
}

.fancybox-image {
    border-radius: 7px;
}

.fancybox-button--zoom {
    display: none !important;
}



.simple-input {
    width: 100%;
    max-width: 100%;
}

input,
textarea {
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: none;
    width: 100%;
    padding: 15px;
}

textarea {
    resize: none;
    height: 130px;
}

textarea:focus,
input:focus {
    border-color: none;
}

textarea::placeholder,
input::placeholder {
    opacity: .7;
    ;
    transition: .3s;
}

input:focus::placeholder,
textarea:focus::placeholder {
    opacity: 0;
}









.items-section {
    padding-top: 35px;
    flex: 1;
    position: relative;
}

.empty-message {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    font-weight: 600;
    color: #ccc;
    display: none;
    white-space: nowrap;
}

.empty-message>* {
    display: inline-block;
}

.loader-message {
    position: absolute;
    left: 50%;
    top: 40%;
    display: none;
    transform: translate(-50%, -50%);
    z-index: 3;
}




.empty-message.active {
    display: flex !important;
    align-items: center;
}

.empty-message .img {
    margin-right: 25px;
    width: 55px;
    height: 55px;
}

.items-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    /* margin-top: 50px;
    margin-bottom: 125px; */
    /* New */
    width: 100%;
    margin-top: 0;
    margin-bottom: 35px;
    display: inline-block;
    padding: 25px;
    border-radius: 10px;
    background: rgba(0, 0, 0, .05);
    border: 5px solid rgba(0, 0, 0, .1);
    overflow: hidden;
}

.header-section {
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    position: relative;
    background: #f78888;
    z-index: 1;
}

.header-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-section .ham {
    display: flex;
    align-items: center;
    position: relative;
}

.header-section .ham-btn img {
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: .3s;
}

.header-section .ham-btn {
    transition: .3s;
}

.header-section .ham-btn:hover,
.header-section .ham-btn.active {
    opacity: .7;
    transform: scale(.9);
}

.ham-nav {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 130%;
    display: none;
    /* border: 4px solid #ccc; */
    box-shadow: 0 7px 14px rgba(0, 0, 0, .3);
}

.ham-nav li a {
    padding: 15px 40px;
    color: #999;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    transition: .3s;
    cursor: pointer;
}

.ham-nav li a.active {
    background: #f78888;
    color: #fff;

}

.ham-nav li a:not(.active):hover {
    color: #bbb;
}

.ham-nav li+li a {
    border-top: 1px solid #bbb;
}



.header-section .ico {
    display: flex;
    width: max-content;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.header-section .ico:hover{
    transform: scale(.9);
}

.header-section .ico .img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #7395ae; */
    margin-right: 15px;
}

.header-section .ico img {
    width: 80px;
}

.header-section .ico .text {
    font-size: 34px;
    font-weight: 600;
    letter-spacing: .5px;
    color: #fff;
}








.footer-section {
    padding: 15px 0;
    position: relative;
    background: #f78888;
    z-index: 2;
    margin-top: auto;
}

.footer-text {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .5px;
    color: #fff;
    text-align: center;
}

.footer-text .auth {
    font-size: 25px;
    font-weight: 600;
    margin-left: 3px;
    color: #fff;
    transition: .3s
}

.footer-text .auth:hover {
    opacity: .7;
}










.glob-title {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: .5px;
    text-align: center;
    transition: .5s;
}

.glob-title.active:after {
    width: 200px;
}

.glob-title:after {
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 70px;
    height: 7px;
    background: #f78888;
    margin-bottom: 30px;
    transition: .5s;
}

.glob-subtitle {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: .5px;
    text-align: center;
    transition: .5s;
    transition: .3s;
}

.glob-subtitle:after {
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 7.5px;
    width: 0px;
    height: 4px;
    background: #f78888;
    margin-bottom: 30px;
    transition: .5s;
}





.copy-content {
    display: flex;
    justify-content: center;
    position: relative;
    transition: .5s;
    width: min-content;
    margin: 0 auto;
}

.copy-content:before {
    content: '';
    display: block;
    top: 0;
    height: 100%;
    position: absolute;
    left: -300px;
    width: 696.77px;
    background: url(img/my-check.svg) no-repeat center, #f78888;
    background-size: 35px 35px;
    border-radius: 8px;
    transform: translateX(-50%);
    opacity: 0;
    transition: .5s;
}

.copy-content.active:before {
    left: 50%;
    opacity: 1;
}

.copy-content.active>* {
    opacity: 0;
    transform: translateX(300px);
}

.copy-content.active>*>.copy-btn {
    cursor: default;
}

.copy-content .copy-element {
    transition: .3s;
}

.copy-content .copy-element+.copy-element {
    margin-left: 35px;
}


.copy-content .copy-btn {
    display: flex;
    align-items: center;
    padding: 15px 65px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .3s;
}

.copy-content .copy-btn.active {
    cursor: default;
}


.copy-content .copy-btn:not(.active):hover {
    box-shadow: 0 7px 14px rgba(0, 0, 0, .4);
}

.copy-content .copy-btn:after {
    content: '';
    width: 35px;
    height: 35px;
    background: url(img/save.svg) no-repeat center;
    text-align: center;
    position: absolute;
    left: -120px;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}

.copy-content .copy-btn:before {
    content: '';
    width: 35px;
    height: 35px;
    background: url(img/my-check.svg) no-repeat center;
    text-align: center;
    position: absolute;
    left: -120px;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
    z-index: 3;
}

.copy-content .copy-btn.active:before {
    left: 50%;
}

.copy-content .copy-btn:hover:after {
    left: 50%;
}

.copy-content .copy-btn.active:after {
    left: 200px;
    opacity: 0;
}

.copy-content .copy-btn span {
    font-size: 22px;
    font-weight: 600;
    color: white;
    line-height: 1;
    display: block;
    transition: .3s;
}

.copy-content .copy-btn i {
    font-size: 30px;
    margin-right: 12px;
    color: #fff;
    transition: .3s;
}

.copy-content .copy-btn:hover span,
.copy-content .copy-btn:hover i {
    transform: translateX(200px);
}

.copy-content .copy-btn.active span,
.copy-content .copy-btn.active i {
    opacity: 0;
}

.copy-content .copy-html {
    background: #7395ae;
}

.copy-content .copy-css {
    background: #57ba98;
}

.copy-content .copy-js {
    background: #f4976c;
}

.copy-content .copy-img {
    background: #f78888;
}

.copy-text {
    display: none;
}






.site-tabs-item {
    display: none;
}

.site-tabs-item.active {
    display: block;
}

.site-tabs-buttons {
    display: flex;
    max-width: 696.77px;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-top: -5px;
}

.site-tabs-buttons li {
    cursor: pointer;
}

.site-tabs-buttons li .glob-subtitle {
    width: 120px;
}

.site-tabs-buttons li:hover .glob-subtitle {
    color: #f78888;
}

.site-tabs-buttons li.active .glob-subtitle:after {
    width: 120px;
}


.to-top {
    width: 58px;
    height: 58px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border-radius: 50%;
    background: url(img/my-arr-b.svg) no-repeat center #fff;
    background-size: 15px 25px;
    transform: rotate(180deg);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .3);
    z-index: 5;
    cursor: pointer;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.to-top.active {
    opacity: 1;
    visibility: visible;
}

.to-top:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .6);
}




.load-svg {
    width: 100px;
    height: 100px;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f78888;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .7s;
}

.preloader.active {
    /* left: -100vw; */
    opacity: 0;
}

.size-locker {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #f78888;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 11;
}

.size-locker-text {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    padding: 15px;
}

@media (max-width:768px) {
    .size-locker {
        display: flex;
    }

    body {
        overflow: hidden !important;
    }
}





.top-section {
    margin-top: 35px;
}

.top-section .flex-wrap {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.top-section .container {
    width: 100%;
}

.top-section .simple-input {
    max-width: calc(33% - 10px);
    position: relative;
    margin-right: 25px;
}

.top-section .simple-input:after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: url(img/search.svg);
    display: block;
}

.top-section .simple-input input {
    border: 5px solid rgba(0, 0, 0, .1);
    padding: 13px;
    padding-left: 20px;
    padding-right: 50px;
    font-size: 20px;
    color: #999;
    font-weight: 600;
    letter-spacing: .5px;
}

.top-section .simple-input input::placeholder {
    opacity: 1;
    color: #bbb;
    font-weight: 600;
}

.categories {
    display: flex;
    border-radius: 8px;
    border: 5px solid rgba(0, 0, 0, .1);
    padding: 13px 35px;
    background: #fff;
}

.categories li {
    font-size: 20px;
    color: #bbb;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    padding-right: 2px;
    padding-left: 2px;
    transition: .4s;
    padding-bottom: 1px;
    font-weight: 600;
}

.categories li.active {
    opacity: 1;
    color: #999;
    border-color: #999;
}

.categories li:not(.active):hover {
    opacity: .5;
}

.categories li+li {
    margin-left: 35px;
}








.wrapper-template {
    background: url(img/bg.jpg) no-repeat center;
    background-size: cover;
}

.wrapper-template .header-section,
.wrapper-template .footer-section {
    background: transparent;
    box-shadow: none;
}

.template-section {
    flex: 1;
    align-items: center;
    display: flex;
}

.template-section .container {
    height: 100%;
    min-height: 100%;
    /* width: 100%; */
    position: relative;
    padding-bottom: 80px;
    /* padding-left: 100px; */
}

.download-button {
    padding: 20px 50px;
    background: #f78888;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    width: max-content;
    border-radius: 8px;
    transition: .3s;
    box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    animation: ItemUpDown 1s infinite alternate;
}

.download-button .img {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-top: -5px;
}

.download-button:hover {
    box-shadow: 0px 14px 25px rgba(255, 255, 255, 0.4);
    transform: scale(1.05);
}

.download-button:hover .img {}

@keyframes ItemUpDown {
    0 {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px) scale(1.05);
        ;
    }
}






.snippets-section {
    padding-top: 35px;
    padding-bottom: 35px;
    flex:1;
    position: relative;
}

.snippets-section .flex-wrap {
    flex-wrap: wrap;
    margin: -10px;
}

.snippets-section .flex-wrap .item-wrap {
    width: 33.33333%;
    padding: 10px;
}

@media (max-width:1100px){
    .snippets-section .flex-wrap .item-wrap{
        width: 50%;
    }
}

.snippets-section .flex-wrap .glob-title {
    font-size: 26px;
    margin-bottom: 15px;
}

.snippets-section .flex-wrap .glob-title:after {
    display: none;
}

.snippets-section .flex-wrap .item {
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
    border-color: #ccc;
}

.snippets-section .flex-wrap .item .copy-element {
    max-width: 90% !important;
    width: 100% !important;
}

.snippets-section .flex-wrap .item .copy-btn,
.snippets-section .flex-wrap .item .copy-content {
    width: 100% !important;
    text-align: center;
}

.snippets-section .flex-wrap .item .copy-content:before{
    width: 90%;
}

.snippets-section .flex-wrap .item .copy-btn{
    display: flex;
    justify-content: center;
    background: #f78888;
}

.top-block {
    padding: 15px;
    display: flex;
    background: #ddd;
    margin-bottom: 20px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.dot:nth-child(1) {
    background: #7395ae;
}

.dot:nth-child(2) {
    background: #57ba98;
}

.dot:nth-child(3) {
    background: #f4976c;
}

.dot+.dot {
    margin-left: 10px;
}







.glob-title{
    position: relative;
}

.glob-title .simple-input{
    display: inline-block;
    max-width: 200px;
    margin-right: 20px;
    display: none;
}

.glob-title .card-name{
    position: absolute;
    top:-10px;
    right:-5px;
    display: flex;
    align-items: flex-start;
}

.glob-title .simple-input input{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:#495057;
}

.card-name-btn{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition:.3s;
}

.card-name-btn:hover{
    opacity: .7;
}











/* Test */

.page1 {
    width: 100vw;
    height: 400vh;
    background: #777;
}

.page1 .container{
    width: 100%;
}










            